/*!*****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \*****************************************************************************************************************************************************************************************************************/
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #3b3b3b; }

h1,
h2,
h3,
h4,
h5 {
  margin: 6px;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  padding: 32px;
  font-family: 'Roboto Condensed', sans-serif; }

.wrapper {
  width: 100%;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0; }
  .wrapper .left-button,
  .wrapper .right-button {
    transform: translate(-50%, -50%) scale(130%);
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    background-color: #929991;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
    text-align: center;
    vertical-align: middle; }
    .wrapper .left-button.disabled,
    .wrapper .right-button.disabled {
      opacity: 0.5;
      cursor: default; }
    .wrapper .left-button span,
    .wrapper .right-button span {
      padding-top: 4px; }
    .wrapper .left-button:hover,
    .wrapper .right-button:hover {
      transform: translate(-50%, -50%) scale(140%); }
  .wrapper .right-button {
    position: absolute;
    right: 0px;
    transform: translate(50%, -50%) scale(130%); }
    .wrapper .right-button:hover {
      transform: translate(50%, -50%) scale(140%); }

.carousel {
  display: flex;
  overflow: auto;
  position: relative;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  height: 400px; }

.carousel {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */ }

.carousel::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */ }

.card {
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  width: 20%;
  min-width: 20%;
  height: auto; }
  .card .card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    transform-origin: 50% 100%; }
    .card .card-top .bg-image {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-position: center;
      background-size: cover; }
    .card .card-top .decade {
      font-size: 2rem;
      color: white;
      padding-bottom: 10px; }
    .card .card-top .plus-button {
      position: ab;
      width: 32px;
      height: 32px;
      background-color: #bb6125;
      font-size: 2rem;
      color: white;
      text-align: center;
      align-items: center;
      line-height: 1;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 32px; }
  .card .card-bottom {
    position: relative;
    margin-top: 6px;
    height: 128px;
    padding: 16px; }
    .card .card-bottom .architect {
      position: absolute;
      bottom: 10px;
      color: white; }
  .card:nth-child(odd) .card-bottom {
    background-color: #c2c4c3; }
  .card:nth-child(even) .card-bottom {
    background-color: #909398; }
  .card:nth-child(odd) .bg-image {
    filter: sepia(1) brightness(50%); }
  .card:nth-child(even) .bg-image {
    filter: grayscale(1) brightness(50%); }

